.admin-bar
    font-size: .85rem
    font-weight: bold

.product-unit
    border-bottom: 1px solid #eee
.product-unit__meta,
.product-unit__tools
    font-size: 0.75rem
.product-unit__tools
    a
        background: $red
        display: inline-block
        border: 1px solid rgba($red,1)
        padding: .5rem        
        color: $white
        text-decoration: none        
        font-size: .8rem    

.admin-form-producto
.admin-form-producto__image-upload
    border: 1px dotted #ccc
    border-radius: 5px
    label
        opacity: .8

.ck-editor__editable_inline
    min-height: 200px
    
@include media-breakpoint-up(md)    