.button
    background: $red
    padding: 1rem 2rem    
    color: $white    
    white-space: nowrap
    font-family: $font-secondary
    text-transform: uppercase
    cursor: pointer
    &:hover,
    &:focus,
    &:visited
        text-decoration: none
        color: $white

.button--light
    background: none !important
    border: 3px solid $white

button
    border: none

@include media-breakpoint-up(md)
    .button
        padding: 1rem 3rem