.cabecera    
    width: 100%
    background: rgba($white,1)
    border-bottom: 1px solid rgba($white,.2)
    margin-bottom: 1.5rem

// Navegacion
.navbar-toggler
    border: none
    outline: none

.navbar
    font-family: $font-secondary
    &.navbar-light       
        .nav-link    
            color: rgba($grey,1)
            text-transform: uppercase
            &:hover
                color: $red
        .active
            position: relative    
            &:after
                content: ''
                display: none
                background: $red
                height: 6px
                width: 47px
                border-radius: 100px
                position: absolute
                bottom: -5px
                left: 5px    
            .nav-link
                color: $red    

// Extras
.extras    
    a
        display: inline-block
        border: 1px solid rgba($grey,.3)
        padding: .5rem        
        color: $red
        text-decoration: none   
        // &:first-child
        //     border-right: none
        &:hover            
            background: $red
            color: $white !important            
            border-color: $red     
        &:focus,
        &:visited            
            color: $red
        &.light
            border: none

@include media-breakpoint-up(md)
    .cabecera
        margin-bottom: 6rem
    .navbar
        &.navbar-light               
            .active                
                &:after                    
                    display: block                