.card
    border: 1px solid rgba(#eee,1)
    box-shadow: 0px 0px 10px rgba(#000000,.07)   
    display: block
    cursor: pointer
.card__category
    display: inline-block
    background: $red
    color: $white
    font-size: 0.6875rem
    padding: 0.2rem 1rem
    border-radius: 1rem
    a
        color: $white
        &:hover,
        &:focus,
        &:visited
            color: $white

.card__title
    font-size: 1.125rem
    font-weight: 700
.card__text
    font-size: 0.875rem
.card__date
    font-size: 0.6875rem
    opacity: .5
.card__image
    width: 100%
    height: 150px
    background: rgba(#eee,.5)
    background-size: cover
    background-position: center    

.rating
.rating__stars--sm
    img
        width: 20px    
.rating__star
    display: inline-block
    width: 49px
    height: 48px
    background-size: cover
    background-position: center center
    background-image: url(/assets/img/star-grey.svg)
    opacity: .5
    cursor: pointer    
    &.active        
        background-image: url(/assets/img/star.svg)
        opacity: 1
    
input[name=stars_opinion]
    display: none

.producto
.producto__image
    width: 100%
    height: 350px
    background-size: cover
    background-position: center
.producto__image-mobile
    width: 100%

.product__details
.product__details-unit
    border-bottom: 1px solid #eee
    &:last-child
        border: none !important

.producto__tag
    background: #82b131
    color: $white    
    font-size: .85rem
    padding: .3rem .85rem    
        
.opinion
    border-bottom: 1px solid #eee
.opinion__nombre    
    font-weight: bold
    span
        font-size: .8rem
        font-weight: normal
        opacity: .5
.opinion__date
    font-size: .8rem
    opacity: .5
.opinion__title
    font-size: 1rem    
    font-weight: bold
.opinion__text
    font-size: .85rem



@include media-breakpoint-up(md)