html
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased
    font-weight: 400
    font-size: 0.75rem

@-moz-document url-prefix()
  body
    font-weight: lighter !important

body
    font-family: $font-main        
    color: $grey
    font-weight: 400

a
    color: $red
    &:hover,
    &:focus,
    &:visited
        color: $red
    

h1,
h2,
h3,
h4
    font-family: $font-secondary
    line-height: 100%
    text-transform: uppercase
    b,
    strong
        color: $red

h1
    font-size: 3rem
h2
    font-size: 1.5rem

.decorate
    position: relative    
    &:after
        content: ''
        display: block
        text-align: center
        background: rgba($grey,.2)
        width: 80px
        height: 6px    
        // border-radius: 100px
        margin: 0 auto
        margin-top: 18px

.decorate--left
    &:after
        margin-left: 0

.text-lg
    font-size: 1.125rem

@include media-breakpoint-up(xs)
    html
        font-size: 0.875rem
@include media-breakpoint-up(md)
    html
        font-size: 1rem    